/* added text animation timing */
#title {
    -webkit-animation-duration: 4s;
    /* -webkit-animation-delay: 2s; */
    /* -webkit-animation-iteration-count: infinite; */
}

#title2{
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 4s;
}

#titleSearch{
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.head-container {
    background: #3c4044;
}

.head-container h1 {
    font-weight: 400;
    font-size: 2em;
    color: white;
    padding: 15px 0 15px 40px;
    margin-bottom: 0;
  
}

.hero-container {
    background:  #3c4044;
    text-align: center;
    height: 450px;
}

.hero-title h1 {
    font-weight: 700;
    color: white;
    font-size: 4rem;
    padding-top: 50px;
    margin-bottom: 0;
}

.hero-sub p {
    font-weight: 400;
    color: white;
    font-size: 2rem;
    padding-bottom: 40px;
}

#music-input {
    width: 370px;
    font-size: 1.3rem;
    color: #000;
    padding: 4px;
    border: 0 solid;
    border-radius: 4px;
    margin-right: 15px;
}

input::placeholder {
    color: #000;
    padding: 4px;
}

#find-music {
    width: 90px;
    padding: 6px;
    border: 0 solid;
    border-radius: 4px;
    font-size: 1.2rem;
    background: #E2584D;
    font-weight: 700;
    color: white;
}

.hero-search {
    padding-bottom: 220px;
}

.carousel {
    height: 250px;
    background: #E2584D;
}

.intro {
    display: flex;
    height: 225;
    padding: 0;
}

.carousel-control-next-icon {
    right: 15px;
    position: absolute;
}

.carousel-control-prev-icon {
    left: 15px;
    position: absolute;
}
/* My added CSS */

.bandPicture {
    width: 100%;
    height: 250px;
}

#lyricsStanza {
    margin-bottom: 20px;
}

#lyricsLine {
    margin-bottom: 2px;
}

.form-control {
    display: block;
    width: 75%;
}

#gif {
    float: left;
    padding: 10px;
    
}

.gallery0 {
    overflow: auto;
    
}

#wikiInfo {
    height: 300px;
    overflow: auto;
}